USE [master]
GO
/****** Object:  Database [lab01]    Script Date: 10/10/2023 8:03:58 CH ******/
CREATE DATABASE [lab01]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'lab01', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\lab01.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'lab01_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\lab01_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [lab01].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [lab01]
GO
/****** Object:  Table [dbo].[account]    Script Date: 10/10/2023 8:03:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](32) NOT NULL,
	[fullname] [varchar](100) NOT NULL,
	[gender] [varchar](6) NOT NULL,
	[birthday] [date] NOT NULL,
	[department] [varchar](100) NOT NULL,
 CONSTRAINT [PK_account] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[account] ([username], [password], [fullname], [gender], [birthday], [department]) VALUES (N'12345', N'827ccb0eea8a706c4c34a16891f84e7b', N'12345', N'male', CAST(N'2000-05-05' AS Date), N'...hg biet')
INSERT [dbo].[account] ([username], [password], [fullname], [gender], [birthday], [department]) VALUES (N'khiem', N'8d5370a786f21f521ff8c27728c9a6dd', N'le khiem', N'male', CAST(N'2003-04-20' AS Date), N'alpha')
INSERT [dbo].[account] ([username], [password], [fullname], [gender], [birthday], [department]) VALUES (N'kieu', N'330da3d54615f0fe339bda00533b3b5f', N'viet kieu', N'female', CAST(N'2000-09-23' AS Date), N'nghe sang chua')
GO
USE [master]
GO
